*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #27282d;
}

.form{
    text-align: center;
    padding: 20px;
}

.form img{
    max-width: 500px;
    width: 100%;
}

.form input[type=text],
.form input[type=email],
.form input[type=number]{
    padding-left:10px ;
    margin: 10px auto;
    display: block;
    max-width: 500px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.form textarea{
    padding: 10px;
    resize: vertical;
    margin: 10px auto;
    display: block;
    max-width: 500px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.form input[type=submit]{
    padding-left:10px ;
    margin: 10px auto;
    display: block;
    max-width: 500px;
    width: 100%;
    text-align: center;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(66, 4, 66);
    color: white;
}
.form input[type=submit]:hover{
    background-color: blue;
    color: white;
}